name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: |
          npm install
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get PR Commits
        id: 'get-pr-commits'
        uses: tim-actions/get-pr-commits@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Output commits
        run: |
          echo "Commits"
          echo "${{ steps.get-pr-commits.outputs.commits }}"
      - uses: ./
        id: get-commit-messages
        with:
          commits: ${{ steps.get-pr-commits.outputs.commits }}
      - name: Output commit messages
        run: |
          echo "Commit messages"
          echo "${{ steps.get-commit-messages.outputs.commit-messages }}"
